* {
    /*border: 1px solid black;*/
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

body {
        background: linear-gradient(to top left, #236B8E, white)

}

/********************************************************
*****************NAV STYLING***********************
********************************************************/
    

nav div#container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


/********************************************************
**************IMAGE STYLING***********************
********************************************************/

img {
        max-width: 230px;
        max-height: 230px;
}

div#headshot {
    display: inline;
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
}

div#headshot img {
    width: auto;
    height: 100%;
    margin-left: 30px;
}

div#header_title {
    display: inline;
    width: 350px;
    float: right;
    margin-top: 10vh;
    margin-right: 45vw;
}

/*******************************************************
************MAIN CONTENT STYLING*************
********************************************************/

div#main {
    display: flex;
    flex-direction: column;
}

div#bio {
    display: inline;
    max-width: 20vw;
    align-items: center;
}

h3.about {
    align-items: center !important;
    padding-left: 50%;
}

ul {
    list-style-type: none;
}


/*******************************************************
************BACK TO TOP BTN STYLING**********
********************************************************/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(65, 105, 225, 0.9);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(65, 105, 225, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/*******************************************************
************STICKY FOOTER STYLING************
********************************************************/
footer span {
    line-height: 2em;
}